extends layout

block content

  script(src="/javascripts/functions.js")

  form(class="topbar w3-blue", action="/novoFicheiro", method="post", enctype="multipart/form-data")

    div(class="topbar-item")
      label(for="ficheiro") Ficheiro:
      input(name="ficheiro", type="file")

    div(class="topbar-item")
      label(for="descricao") Descricao:
      textarea(name="descricao", rows="4", cols="50", placeholder="Insira a descricao...")

    div(class="topbar-item")
      input(name="submit", type="submit")

  table(class="w3-table-all")
    tr
      th Nome
      th Descricao
      th Tipo
      th Tamanho
      th Eliminar
    each f in ficheiros
      tr
        td
          a(href=`http://localhost:4000/visualizar/${f._id}`)= f._id
        td= f.descricao
        td= f.tipo
        td= f.tamanho
        td
          button(onclick="eliminarFicheiro(this)") X